<div class="quiz-wrapper">
  <%= render 'shared/user_drawer' %>
  <%= render 'shared/quiz/decide', { quiz: @quiz, user: @user } %>
  <%= render 'shared/leaderboard/leaderboard', { user_quiz_sessions: @user_quiz_sessions } %>
</div>
