<div class="quiz-wrapper">
  <%= render 'shared/user_drawer' %>
  <%= render 'shared/quiz/decide', { started: false } %>
  <%= render 'shared/leaderboard/leaderboard', { data: @user_quiz_sessions } %>
</div>
