<% className = "rank-item card" %>
<% className << " first" if highest %>

<div class="<%= className %>">
  <span class="material-icons">
  <% if highest %>
    military_tech
  <% else %>
    run_circle
  <% end %>
  </span>
  <span class="name"><%= user_quiz_session.user.name %></span>
  <span class="score"><%= user_quiz_session.score %></span>
</div>
