<% className = "rank-item card" %>
<% className << " first" if won %>

<div class="<%= className %>">
  <span class="material-icons">
  <% if won %>
    military_tech
  <% else %>
    run_circle
  <% end %>
  </span>
  <span class="name"><%= name %></span>
  <span class="score"><%= score %></span>
</div>
