<% className = "rank-item card" %>
<% className << " first" if user.won %>

<div class="<%= className %>">
  <span class="material-icons">
  <% if user.won %>
    military_tech
  <% else %>
    run_circle
  <% end %>
  </span>
  <span class="name"><%=user.name %></span>
  <span class="score"><%= user.score %></span>
</div>
