<div class="leaderboard card">
  <div class="leaderboard-header">
    <span class="leaderboard-title">Leaderboard</span>
    <%= render 'shared/badge' %>
  </div>
  <%= turbo_stream_from user_quiz_sessions %>
  <%= render 'shared/leaderboard/list', { data: user_quiz_sessions } %>
</div>
