<%= turbo_frame_tag 'user_quiz_sessions' do %>
  <div class="rank-list">
    <% data.each do |user_quiz_session| %>
      <%= render 'shared/leaderboard/item', { user_quiz_session: user_quiz_session } %>
    <% end %>
  </div>
<% end %>
