<%= turbo_stream_from quiz %>

<div class="quiz-menu" id="quiz-menu">
  <% if quiz.active %>
    <%= turbo_stream_from user %>
  <%= render 'shared/quiz/quiz_start', { question: quiz.questions.first, user_quiz_session: @user_quiz_session } %>
  <% else %>
    <%= render 'shared/quiz/quiz_waiting', { quiz: quiz } %>
  <% end %>
</div>
