<%= turbo_stream_from quiz %>
<div class="quiz-menu" id="quiz-menu">
  <% if quiz.active %>
    <%= render 'shared/quiz/quiz_start', { questions: quiz.questions } %>
  <% else %>
    <%= render 'shared/quiz/quiz_waiting', { quiz: quiz } %>
  <% end %>
</div>
