<div class="quiz card">
  <h2 class="list-title">Select a Quiz</h2>
  <div class="list">
    <% quizzes.each do |quiz| %>
      <%= render "shared/quiz/quiz_type", { quiz: quiz } %>
    <% end %>
  </div>
</div>
