<div class="quiz-header">
  <span class="quiz-title">Quiz List</span>
</div>
<div class="quiz-list">
  <% quizzes.each do |quiz| %>
    <div>
      <span class="name"><%= link_to(quiz.title, quiz_path(quiz)) %></span>
    </div>
  <% end %>
</div>
