<div class="quiz card">
  <div class="list-title">
    <%= render 'shared/logo' %>
  </div>
  <div class="list">
    <% quizzes.each do |quiz| %>
      <%= render "shared/quiz/quiz_type", { quiz: quiz } %>
    <% end %>
    <div class="quiz-selection">
      Coming soon!
    </div>
  </div>
</div>
