<div class="quiz wait card">
  <%= image_tag "quiz.svg" %>
  <div class="content">
    <span class="title">The quiz has not started yet</span>
    <button class="start">
      <span>Start Quiz</span>
      <span class="material-icons">
      flight_takeoff
    </span>
    </button>
  </div>
</div>
