<div class="quiz card">
  <span class="material-icons timer">timer</span>
  <div class="question-collection">
    <%= render "shared/quiz/question", { question: question['name'] } %>
    <div class="answer-collection">
      <% question['answers'].each do |answer| %>
        <%= render "shared/quiz/answer", { content: answer } %>
      <% end %>
    </div>
  </div>
  <div class="remaining-count"><span class="current">2</span> / <span class="total">3</span></div>
</div>
