<div class="leaderboard card">
  <div class="leaderboard-header">
    <span class="leaderboard-title">Leaderboard</span>
    <%= render 'shared/badge' %>
  </div>
  <div class="rank-list">
    <div class="rank-item card first">
        <span class="material-icons">
          military_tech
        </span>
      <span class="name">Imanpal Singh</span>
      <span class="score">15</span>
    </div>
  </div>
  <div class="rank-item card runner">
        <span class="material-icons">
          run_circle
        </span>
    <span class="name">Prayesh</span>
    <span class="score">12</span>
  </div>
  <div class="rank-item card runner">
        <span class="material-icons">
          run_circle
        </span>
    <span class="name">Krishna</span>
    <span class="score">9</span>
  </div>
  <div class="rank-item card runner">
        <span class="material-icons">
          run_circle
        </span>
    <span class="name">Ayush</span>
    <span class="score">2</span>
  </div>
</div>
</div>