<div class="user">
  <div class="name">
    <span class="avatar"><img src="https://avatars.dicebear.com/api/pixel-art/<%=current_user.id%>.svg"/></span>
    <span><%= current_user.name %></span>
  </div>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
    <button class="exit">
      <span>Exit</span>
      <span class="material-icons">
      logout
    </span>
    </button>
  <% end %>
  <% if can_go_back %>
    <%= link_to root_path do %>
      <button class="back">
        <span>Back</span>
        <span class="material-icons">
      arrow_back
    </span>
      </button>
    <% end %>
  <% end %>
</div>
